<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet" type="text/css">
    <link href="/css/trix.css" rel="stylesheet" type="text/css">

    <title>{{nombrePagina}}</title>
</head>
<body>
    <div class="nombre-sitio contenedor">
        <h1>
            <a href="/">DevJobs</a>
        </h1>

        {{#if barra}}
            <div class="buscador">
                <form action="#">
                    <input type="text" class="Buscar">
                    <input type="submit" value="Buscar">
                </form>
            </div>

        {{/if}}
    </div>
    <header class="site-header contenedor separador">
        <h2>
            {{nombrePagina}}
        </h2>
        {{#if tagline}}
            <p class="tagline">{{tagline}}</p>
        {{/if}}
        {{#if boton}}
            <a href="/vacantes/nueva" class="btn btn-azul">Publicar Nueva Vacante</a>
        {{/if}}
    </header>
    <div class="contenido-principal contenedor">
        {{{body}}}
    </div>



    <script src="/js/trix.js"></script>
    <script src="/dist/bundle.js"></script>
</body>
</html>